.shopping-cart-table {
    margin-top: 50px;
}

.shopping-cart-table .total {
    text-align: right;
    font-size: 1.3rem;
}

.shopping-cart-table table {
    text-align: center;
    width: 100%;
}

.shopping-cart-table table td {
   vertical-align: middle;
}

.shopping-cart-table .book-controls {
    width: 240px;
    margin: 0 auto;
}

.shopping-cart-table .book-controls button {
    width: 55px;
}

.shopping-cart-table .book-controls button {
    margin: 0 10px;
}

.shopping-cart-table table thead {
    border: 2px solid #343a40;
}

.shopping-cart-table table tbody {
    border: 2px solid #dfdfdf;
}